@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


:root {
  --color-rojo-principal: #DC143C;
  --color-2: #F75270;
  --color-3: #F7CAC9;
  --color-4: #92A8D1;
  --color-negro: #181818;
  --color-negro-puro:rgb(0, 0, 0);

}



@font-face {
    
    font-family: fuente1;
    src: url('fuentes/RobotoCondensed-VariableFont_wght.ttf');


}


body {
  display: grid;
  grid-template-areas:
    "header header"
    "menu menu"
    "aside content"
    "footer footer";
  background-color: var(--color-negro); /*TODO cambiar color fondo*/ 
  color: whitesmoke;
}



header{
    grid-area: header;
    display: flex;
    align-items: center;  /*centrados verticalmente */
    /*background-color: var(--color-3);*/
    color: var(--color-rojo-principal);
}

nav{
    grid-area: menu;
    /*TODOs position:fixed; /*para que no se mueva al hacer scroll*/
    background-color: var(--color-2);

}

nav ul{
    display: flex;
    justify-content: center;

}

nav li{

  list-style-type: none;
  padding: .5em 1em;


}

nav li a:hover {
  background: tomato;
  color: white;
}

main{
    grid-area: content;

}

.promocion::after{
   content: "";

}

#pPromocion:hover{
  color: var(--color-1); /*TODO cambiar color al pasar raton*/
}


/*
main a:hover{
  /*TODO info destacable o precio llamativo
}
*/

main .cartas{ /*TODO 3 filas */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;            


}

.cartas img{
    width: 200px;
    height: 150px;
}



aside{
    grid-area: aside;
}

footer{
    grid-area: footer;

}





