@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Luckiest+Guy&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --resaltar: #DC143C;
  --rosaFuerte: #F75270;
  --rosaClaro: #F7CAC9;
  --azul: #92A8D1;
  --negro: #181818;
  --blanco: #efefff  ;

}



@font-face {
    
    font-family: fuente1;
    src: url('fuentes/OpenSans-Italic-VariableFont_wdth\,wght.ttf');


}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///BODY
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
  display: grid;
  grid-template-areas:
    "header header"
    "menu menu"
    "aside content"
    "footer footer";
}

/*centrado vertical y horizontal, fuente1, separacion 3px, sombra, color*/ 
h1{
    text-align: center;
    font-family: "Caprasimo";
    letter-spacing: 3px;
    text-shadow: 2px 3px 1px white;
    color:var(--resaltar);

}

/* fuente2, separacion 0,25rem*/
p{
    font-family: fuente1;
    letter-spacing: 0,25em;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///HEADER
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header{
    background-color: rgba(27, 27, 27, 0.7);
    grid-area: header;

}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///NAV
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

nav{
    background-color: rgba(255, 0, 0, 0.5);
    grid-area: menu;

}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///MAIN
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main{
    background-color: rgba(146, 168, 209, 0.646);
    grid-area: content;

}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///ASIDE
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

aside{
    background-color: rgba(36, 36, 36, 0.3);
    grid-area: aside;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///FOOTER
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
    background-color: rgba(255, 72, 0, 0.2);
    grid-area: footer;

}


