@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


:root {
  --color-rojo-principal: #DC143C;
  --color-2: #F75270;
  --color-3: #F7CAC9;
  --color-4: #92A8D1;
  --color-negro: #181818;
  --color-negro-puro:rgb(0, 0, 0);

}



@font-face {
    
    font-family: fuente1;
    src: url('fuentes/RobotoCondensed-VariableFont_wght.ttf');


}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///BODY
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
  display: grid;
  grid-template-areas:
    "header header"
    "menu menu"
    "aside content"
    "footer footer";
  background-color: var(--color-negro); /*TODO cambiar color fondo*/ 
  color: whitesmoke;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///HEADER
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header{
    grid-area: header;
    display: flex;
    align-items: center;  /*centrados verticalmente */
    color: var(--color-rojo-principal);
}

header img{
    width: 150px;
    height: 150px;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///NAV
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/


nav{
    grid-area: menu;
    position: sticky;
    top: 0;
    background-color: var(--color-2);
    z-index: 100;

}

nav ul{
    display: flex;
    justify-content: center; /*centrado*/

}

nav li{

  list-style-type: none; /*sin viñeta*/
  padding: .5em 1em;


}

nav li a:hover {  /*pasar por encima cambio color*/
  background: tomato;
  color: white;
}

main{
    grid-area: content;
    

}

.promocion{
  position: relative;
  background-color: var(--color-2);

}

.promocion img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;

}

.promocion p{   /*TODO cambiar posicion del precio y mirar al hacer clkick en la imagen*/
  position: absolute;
  opacity: 0;
  color: var(--color-negro);
  top: 40%;
  left: 45%;
  font-size: 1.5rem;

}
.promocion:active p{
  opacity: 1;

}

.promocion h3:hover{
  color: var(--color-rojo-principal);
}


/*
main a:hover{
  /*TODO info destacable o precio llamativo
}
*/

.cartas{ /*TODO 3 filas */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
  color: black;

}

.carta {
  background-color: var(--color-3);
  border-radius: 5%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.cartas img{
    /*TODO poner imagen en el centro*/
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.carta:nth-child(odd){   /* TODO mirar sombra*/
  box-shadow:  0 4px 10px rgba(0, 0, 0, 0.15);
}

.carta:nth-child(even){
  box-shadow: 0 6px 12px rgba(255, 0, 0, 0.15);

}


.destacados table{
  text-align: center;
  background-color: var(--color-4);
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 10px;
}

.destacados th, td{
  border: 1px, solid, black;
  padding: 10px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///ASIDE
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

aside{
    grid-area: aside;
    column-count: 2;
  }

  


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///FOOTER
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
    grid-area: footer;

}





