@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Luckiest+Guy&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --resaltar: #DC143C;
  --rosaFuerte: #F75270;
  --rosaClaro: #F7CAC9;
  --azul: #92A8D1;
  --negro: #181818;
  --blanco: #efefff  ;

}



@font-face {
    
  font-family: fuente1;
  src: url('fuentes/OpenSans-Italic-VariableFont_wdth\,wght.ttf');


}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///BODY
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
  display: grid; 
  grid-template-columns: 20% 80%;

  grid-template-areas:
    "header header"
    "menu menu"
    "aside content"
    "footer footer";
  background-color: var(--negro);
  color: var(--blanco);
  
}

h2{
  font-family: fuente1;
  font-size: 2rem;


}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///HEADER - LOGO-NOMBRE
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header{
  grid-area: header;
  display: flex;  
  align-items: center;
  color: var(--rosaClaro);
  height: 130px;
}

.logo img{
  width: auto;
  height: 150px;
}

.nombreEmpresa {
  font-size: 2rem;
  font-family: "Caprasimo";
}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///NAV - MENU
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

nav{ 
  grid-area: menu;
  position: sticky; 
  top: 0;

  background-color: var(--rosaFuerte);
  z-index: 100;
  border-radius: 30px;
  height: 50px;

  display: flex;             
  align-items: center;      
  justify-content: center;

}

a {
  text-decoration: none;
  color: var(--blanco); 
}

nav ul{
    display: flex;

}

nav li{

  font-size: 30px;
  list-style-type: none;
  padding: .5em 1em;

}

nav li a:hover {  /*pasar por encima cambia color*/
  background: var(--rosaClaro);
  color: black;

  padding: 10%;
  border-radius: 40%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///MAIN 
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main{
    grid-area: content;
}

/*//////////////////////////////////////////////////////////////////////////
///1 bloque - PRODUCTO EN PROMOCION
/////////////////////////////////////////////////////////////////////////*/

.promocion{
  position: relative;
  background-color: var(--rosaFuerte);

  border-radius: 10%;  
  height:65vh;
  padding-top: 60px;
  margin-top: 2%;
}


.promocion h2{
  margin-top: 0;
  margin-left: 50px;
  font-size: 2rem;
}

.promocion h2:hover{
  color: var(--negro); /*cambiar color al psasar*/
}

.promocion img{
  display: block;

  margin-top: 5%;
  margin-left: 25%;

  width: auto;
  height: 70%;

}

.promocion p{ 
  position: absolute;
  opacity: 0; /* para que se muestre oculto*/

  color: var(--resaltar);
  top: 15%;
  left: 40%;
  font-size: 3rem;
  background-color: var(--rosaClaro); 
  padding: 1%;
  border-radius: 40%;
}

/*activar informacion al hacer click*/
.promocion:active p{
  opacity: 1;

}




/*//////////////////////////////////////////////////////////////////////////
///2 bloque - PRODUCTO DESTACADOS
/////////////////////////////////////////////////////////////////////////*/



.cartas{ 
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  gap: 20px;
  color: black;

}

.carta {
  background-color: var(--rosaClaro);
  border-radius: 12px;
  padding: 15px;
}

.cartas img{
  width: auto;
  height: 200px;

  border-radius: 15px;
  margin-left:15%;
}

.carta h3{
  text-align: center;
  color: var(--rosaFuerte);
  font-size: 30px;
}

.carta p{
  background-color: var(--azul);
  color: var(--blanco);
  
  padding: 5%;
  border-radius: 12px;
}

/*filtro a las cartas*/
.carta:hover{
  filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
}

/*sombra pares y impares*/
.carta:nth-child(odd){   
  box-shadow:   6px 10px var(--resaltar);
}

.carta:nth-child(even){
  box-shadow:  6px 10px var(--azul);

}



/*////////////////////////////////////////
///2 bloque - TABLA 
///////////////////////////////////////*/

.destacados table {
  width: 100%;
  margin-top: 5rem;
  border-radius: 12px;
  overflow: hidden;   
  color: var(--negro);
}

.destacados thead {   /*encabezado*/
  background-color: var(--rosaFuerte);
  color: var(--blanco);
  font-size: 20px;
}


.destacados th, .destacados td {
  padding: 1rem;
  text-align: center;
}

/*pares y impares */
.destacados tbody tr:nth-child(odd) {
  background-color: var(--azul);
}

.destacados tbody tr:nth-child(even) {
  background-color: var(--rosaClaro);
}

.destacados tbody tr:hover {
  background-color: var(--resaltar);
  color: var(--blanco);

}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///ASIDE - MEDIDAS SOSTENIBLES 
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

aside {
  grid-area: aside;

  background-color: grey;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
  height: fit-content;
}

aside h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

aside div {
  column-count: 2;
  column-gap: 30px;
  column-rule: 1px solid rgb(0, 0, 0); 
  font-size: 17px;
}





/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
///FOOTER
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
  grid-area: footer;
  
  background-color: var(--rosaFuerte);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px ;

}

/*//////////////////////////////////////////////////////////////////////////
///1 bloque - REDES SOCIALES 
/////////////////////////////////////////////////////////////////////////*/

.redes{
  display: flex;
  gap: 20px; 
} 

.redes img {
  width: 100px;
  height: auto;
}

/*//////////////////////////////////////////////////////////////////////////
///2 bloque - DERECHOS DE AUTOR 
/////////////////////////////////////////////////////////////////////////*/

.derechosAutor{
  color: var(--negro);
}






