body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    color: #333;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #444;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input[type="text"],
button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #388e3c;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

a:hover {
    background-color: #1976D2;
}

p {
    margin: 10px 0;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: smaller;
}

.ok {
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: smaller;
}

.stats-table {
    margin: 1.5em 0;

    width: 100%;
    border-radius: 8px;
}

.stats-table th,
.stats-table td {
    padding: 0.6em 1em;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
}

.stats-table th {
    /* background: #6366f1; */
    /* color: #fff; */
    font-weight: bold;
}

.stats-table tr:last-child td {
    border-bottom: none;
}

.datos-table {
    margin: 1.5em 0;
    width: 100%;
    border-radius: 8px;
    background: #f4f7fa;
    box-shadow: 0 2px 8px #0001;
    border-collapse: collapse;
}

.datos-table th,
.datos-table td {
    padding: 0.6em 1em;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
}

.datos-table th {
    background: green;
    color: #fff;
    font-weight: bold;
    width: 30%;
}

.datos-table tr:last-child td {
    border-bottom: none;
}